web/WEB-INF/classes/client/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="from" type="xsd:string"/>
   <element name="sayHelloWorldFromReturn" type="xsd:string"/>
   <element name="input" type="xsd:string"/>
   <element name="getPhoneStrReturn">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPhoneStrRequest">

      <wsdl:part element="impl:input" name="input"/>

   </wsdl:message>

   <wsdl:message name="getPhoneStrResponse">

      <wsdl:part element="impl:getPhoneStrReturn" name="getPhoneStrReturn"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromResponse">

      <wsdl:part element="impl:sayHelloWorldFromReturn" name="sayHelloWorldFromReturn"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="sayHelloWorldFrom" parameterOrder="from">

         <wsdl:input message="impl:sayHelloWorldFromRequest" name="sayHelloWorldFromRequest"/>

         <wsdl:output message="impl:sayHelloWorldFromResponse" name="sayHelloWorldFromResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPhoneStr" parameterOrder="input">

         <wsdl:input message="impl:getPhoneStrRequest" name="getPhoneStrRequest"/>

         <wsdl:output message="impl:getPhoneStrResponse" name="getPhoneStrResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloWorldFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldFromRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldFromResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPhoneStr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPhoneStrRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPhoneStrResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:9571/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
